.Home::after {
  content: "";
  position: absolute;
  top: 0%;
  right: 0%;
  width: 60%;
  height: 110%;

  transform: rotate(0deg);

  background-image:
    url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 0C6.716 0 0 6.716 0 15c8.284 0 15-6.716 15-15zM0 15c0 8.284 6.716 15 15 15 0-8.284-6.716-15-15-15zm30 0c0-8.284-6.716-15-15-15 0 8.284 6.716 15 15 15zm0 0c0 8.284-6.716 15-15 15 0-8.284 6.716-15 15-15z' fill='%2377ddff' fill-opacity='0.3' fill-rule='evenodd'/%3E%3C/svg%3E"),
    radial-gradient(ellipse at center, rgba(186, 230, 253, 0.6) 0%, rgba(224, 242, 254, 0.2) 0%, transparent 100%);

  -webkit-mask-image:
    linear-gradient(180deg, black 0%, black 38%, transparent 72%),
    linear-gradient(90deg, transparent 0%, black 60%, black 75%, transparent 100%);
  mask-image:
    linear-gradient(180deg, black 0%, black 80%, transparent 100%),
    linear-gradient(90deg, transparent 0%, black 60%, black 75%, transparent 100%);

  --webkit-mask-composite: source-in;
  mask-composite: intersect;

  pointer-events: none;
  z-index: 0;
}

.WorkProcess {
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%2377ddff' fill-opacity='0.3' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}
